/*
    display toggling classes
*/
.none {
    display: none;
}
//display on breakpoint ranges
@include each-range(display, true, false) {
    display: flex;
    &.as-block {
        display: block;
    }
    &.initial {
        display: initial;
    }
}
//display starting at a breakpoint
@include on(medium) {
    .display-from-medium {
        display: flex;
        &.as-block {
            display: block;
        }
        &.initial {
            display: initial;
        }
    }
}
@include on(large) {
    .display-from-large {
        display: flex;
        &.as-block {
            display: block;
        }
        &.initial {
            display: initial;
        }
    }
}
@include on(larger) {
    .display-onlarger {
        display: flex;
        &.as-block {
            display: block;
        }
        &.initial {
            display: initial;
        }
    }
}
