@mixin container-variables {
    // liquid width container widths
    --container-small-width: 100%;
    --container-medium-width: 85%;
    --container-large-width: 80%;
    --container-larger-width: 80%;
    // fixed width container widths
    --container-small-fixed-width: 100%;
    --container-medium-fixed-width: #{(85/100) * $medium};
    --container-medium-to-large-fixed-width: #{(85/100) * 768px};
    --container-large-fixed-width: #{(85/100) * $large};
    --container-larger-fixed-width: #{(85/100) * $larger};
}