// %container width is about 85%
@import "../global/breakpoints";

%container,
%flex-sys%container {
    display: block;
    margin: 0 auto;
    max-width: 100%;

    //liquid container
    &:not(%fixed-width) &:not(%fixed-width) {
        width: 100% !important;
    }

    @include on(small) {
        [class*=column] & {
            width: 100%;
        }

        %container,
        [class*=column] & {
            width: 100%;
        }

        width: var(--container-small-width);
        padding: 0 2%5%;
    }

    @include on(medium-to-large) {
        width: var(--container-medium-width);
    }

    @include on(large) {
        width: var(--container-large-width);
    }

    @include on(larger) {
        width: var(--container-larger-width);
    }

    //fixed-width container
    &%fixed-width {
        @include on(small) {
            width: var(--container-small-fixed-width);
        }

        @include on(medium-to-large) {
            width: var(--container-medium-fixed-width);
        }

        @include on(768px, to, $large) {
            width: var(--container-medium-to-large-fixed-width);
        }

        @include on(large-to-larger) {
            width: var(--container-large-fixed-width);
        }

        @include on(larger) {
            width: var(--container-larger-fixed-width);
        }
    }
}