@import "../global/breakpoints";
@import "../global/functions";
$one-slice: 100%/12;
@mixin create-columns($breakpoint: "", $breakpoint-name: "") {
    $class-name: slice;
    $var-name: "";
    @for $i from 1 through 12 {
        // classname
        $class-name: rename($class-name, $i, $breakpoint);
        // [data-*] selector
        $attr-selector: if($breakpoint == "", slice, #{on}$breakpoint);
        // css var name
        $var-name: rename($var-name, $i, "");
        // size variable name
        $size-name: if($breakpoint == "", --size, --size-on#{$breakpoint});
        // bootstrap-like selector
        $bs-prefix: bootstrap-selctor($breakpoint);
        @if(contains-reserved-word($class-name)) {
            $alternate: if($breakpoint-name == "", slice-#{$i}, on#{$breakpoint}-#{$i});
            .#{$class-name},
            .#{$alternate},
            [data-#{$attr-selector}="#{$var-name}"],
            [data-#{$attr-selector}="#{$i}"],
            .col-#{$bs-prefix}#{$i} {
                #{$size-name}: var(--#{$var-name});
                flex: var(--grow-factor) var(--shrink-factor) var(#{$size-name});
            }
        }
        @else {
            .#{$class-name},
            [data-#{$attr-selector}="#{$i}"],
            .col-#{$bs-prefix}#{$i} {
                #{#{$size-name}}: var(--#{$var-name});
                flex: var(--grow-factor) var(--shrink-factor) var(#{$size-name});
            }
        }
    }
}
@mixin grid-system($exclude-exp: each) {
    @if($exclude-exp == each) {
        @include create-columns();
        @include on(medium) {
            @include create-columns(medium, m-);
        }
        @include on(large) { 
            @include create-columns(large, l-);
        }
        @include on(larger) {
            @include create-columns(larger, lg-);
        }
    }
    @else if($exclude-exp == global-only) {
        @include create-columns();
    }
    @else if($exclude-exp == medium-only) {
        @include on(medium) {
            @include create-columns(medium, m-);
        }
    }
    @else if($exclude-exp == large-only) {
        @include on(large) { 
            @include create-columns(large, l-);
        }
    }
    @else if($exclude-exp == larger-only) {
        @include on(larger) {
            @include create-columns(larger, lg-);
        }
    }
}
@function bootstrap-selctor($breakpoint: "") {
    $breakpoints: (global: "", medium: md, large: lg, larger: xl);
    $ret-val: "";
    @each $breakpoint-name, $value in $breakpoints {
        @if($breakpoint-name == $breakpoint) {
            $ret-val: $value;
        }
    }
    @return $ret-val;
}