%full-width {
    width: 100%;
}

%full-height {
    height: 100%;
}

@mixin fill-parent($property: width, $unit: false, $placeholder: full-width) {
    $short-cut: if($property ==width, w, h);

    %f#{$short-cut},
    %f#{$short-cut}-each>*,
    %#{$short-cut}100,
    %#{$short-cut}100-each>* {
        @if($unit) {
            #{$property}: 100#{$unit};
        }

        @else {
            @extend %#{$placeholder};
        }
    }
}

@include fill-parent();
@include fill-parent(height, false, full-height);


%w-auto {
    width: auto;
}

%h-auto {
    height: auto;
}