// shortcuts for var(--var-name);
$slice-1: var(--slice-1);
$slice-2: var(--slice-2);
$fourth: var(--fourth);
$third: var(--third);
$slice-5: var(--slice-5);
$half: var(--half);
$slice-7: var(--slice-7);
$slice-8: var(--slice-8);
$slice-9: var(--slice-9);
$slice-10: var(--slice-10);
$slice-11: var(--slice-11);
$fill: var(--fill);