@import "../../global/breakpoints";
.none, [data-display="none"] {
    display: none;
}
//.display display an element
%flex {
    display: flex;
}
%inline-flex {
    display: inline-flex;
}
%block {
    display: block;
}
%inline-block {
    display: inline-block;
}
%initial {
    display: initial;
}
.display, .display-each > * {
    @extend %flex;
    &.inline-flex {
        @extend %inline-flex;
    }
    &.block {
        @extend %block;
    }
    &.inline-block {
        @extend %inline-block;
    }
    &.initial {
        @extend %initial;
    }
}
// data-display selectors
[data-display="flex"], [data-display-each="flex"] > * {
    @extend %flex;
}
[data-display="inline-flex"], [data-display-each="inline-flex"] > * {
    @extend %inline-flex;
}
[data-display="block"], [data-display-each="block"] > * {
    @extend %block;
}
[data-display="inline-block"], [data-display-each="inline-block"] > * {
    @extend %inline-block;
}
[data-display="initial"], [data-display-each="initial"] > * {
    @extend %initial;
}