@import "../../global/breakpoints";
// shortcuts data-display-* selectors
$display-onsmall: data-display-onsmall;
$display-onmedium: data-display-onmedium;
$display-onlarge: data-display-onlarge;

// shortcuts for data-display-each-on* selectors
$display-each-onsmall: data-display-each-onsmall;
$display-each-onmedium: data-display-each-onmedium;
$display-each-onlarge: data-display-each-onlarge;

@include on(small) {
    %d-sm {
        display: flex;

        &-inline-flex {
            display: inline-flex;
        }

        &-block {
            display: block;
        }

        &-inline-block {
            display: inline-block;
        }

        &-initial {
            display: initial;
        }
    }

}

@include on(medium-to-large) {
    %d-lg {
        display: flex;

        &-inline-flex {
            display: inline-flex;
        }

        &-block {
            display: block;
        }

        &-inline-block {
            display: inline-block;
        }

        &-initial {
            display: initial;
        }
    }
}

@include on(large-to-larger) {
    %d-lg {
        display: flex;

        &-inline-flex {
            display: inline-flex;
        }

        &-block {
            display: block;
        }

        &-inline-block {
            display: inline-block;
        }

        &-initial {
            display: initial;
        }
    }
}