@import "../../global/breakpoints";

%none {
    display: none;
}

//%display display an element
%flex {
    display: flex;
}

%inline-flex {
    display: inline-flex;
}

%block {
    display: block;
}

%inline-block {
    display: inline-block;
}

%initial {
    display: initial;
}

%display,
%display-each>* {
    @extend %flex;

    &%inline-flex {
        @extend %inline-flex;
    }

    &%block {
        @extend %block;
    }

    &%inline-block {
        @extend %inline-block;
    }

    &%initial {
        @extend %initial;
    }
}