@import "../global/breakpoints";
@include on(medium) {
    .wrap-from-medium {
        flex-wrap: wrap;
    }
}
@include on(large) {
    .wrap-from-large {
        flex-wrap: wrap;
    }
}
@include on(larger) {
    .wrap-from-larger {
        flex-wrap: wrap;
    }   
}